global
    maxconn 4096
    stats socket /var/lib/haproxy/stats.sock mode 666 level operator
    log stdout format raw local0 info
    resolvers docker
        nameserver dns 127.0.0.11:53

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend consensus_frontend
    bind *:8080
    default_backend consensus_workers
    
    # Enable stats page
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s

backend consensus_workers
    balance roundrobin
    option httpchk GET /health
    default-server check maxconn 250 inter 2s rise 2 fall 3
    server-template consensus- 1-4 consensus-worker:8080 check resolvers docker init-addr none
