global
    maxconn 4096
    stats socket /var/run/haproxy.sock mode 600 level admin

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend dag_state_frontend
    bind *:8082
    default_backend dag_state_workers
    
    # Enable stats page
    bind *:8406
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE

backend dag_state_workers
    balance roundrobin
    option httpchk GET /health
    default-server check maxconn 250
    server-template dag-state- 1-8 dag-state-worker:8082 check 