global
    maxconn 4096
    log stdout format raw local0 info
    resolvers docker
        nameserver dns 127.0.0.11:53

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend dag_state_frontend
    bind *:8082
    default_backend dag_state_workers
    
    # Enable stats page
    bind *:8406
    stats enable
    stats uri /stats
    stats refresh 10s

backend dag_state_workers
    balance roundrobin
    option httpchk GET /health
    default-server check maxconn 250 inter 2s rise 2 fall 3
    server-template dag-state- 1-3 dag-state-worker:8082 check resolvers docker init-addr none

